@using Tamagotchi.Models;
@using System.Collections.Generic;

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tamagotchi</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <link href="~/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Tamagotchi App!</h1>

            <form action="/tamagotchis" method="post">
            <h3>Enter your pets' information:</h3>

            @for (int i = 0; i < @Pet.PetCount; i++)
            {
            <div class=row>
            <div class="col-xs-2 col-xs-offset-4">
                <label for="names">Enter a pet's name:</label>
            </div>
            <div class="col-xs-3">
                <p><input id="names" name="names" type="text" class="form-inline"></p>
            </div>
            </div>
            }

            <button type="submit" class="btn btn-success">Start Game</button>
            </form>
            <form action="/" method="post">
                <button type="submit" class="btn btn-success">Add another pet</button>
            </form>
        </div>
    </body>
</html>